* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Graphik LCG, sans-serif;
    background-color: #E5E5E5;
}

.container {
    max-width: 1440px;
    padding-left: 55px;
    padding-right: 55px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}

.container * {
    background-color: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 51px;
    border-bottom: solid 1px #CCCCCC;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.nav__button {
    display: flex;
    gap: 10px;
}

.nav__list-item {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000;
}

.nav__button-login,
.nav__button-free {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 46px;
    color: #000;
}

.nav__button-login {
    border: solid 1px rgba(0, 0, 0, 0.5);
    padding: 0 36px;
}

.nav__button-free {
    color: #FFF;
    background: #FF6336;
    padding: 0 21px;
}

.first-block {
    display: flex;
    padding-top: 97px;
    padding-bottom: 137px;
    max-width: 55%;
}

.first-block__description {
    margin-left: 20px;
}

.first-block__description-title {
    font-weight: 600;
    font-size: clamp(32px, 3.4vw, 65px);
    line-height: 70px;
    color: #000000;
    max-width: 531px;
    margin-top: 14px;
}

.first-block__description-test {
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    max-width: 465px;
    margin-top: 51px;
}

.first-block__button {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    margin-top: 30px;
}

.first-block__button-demo,
.first-block__button-free{
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    color: #000000;
    text-decoration: none;
    padding: 0 29px;
    border: solid 1px rgba(0, 0, 0, 0.5);
}

.first-block__button-free {
    color: #FFF;
    background: #FF6336;
    padding: 0 41px;
    border: none;
}

.first-block__try-to-free {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000;
    margin-top: 25px;
}

.first-block__image{
    margin-top: 50px;
}

.second-block {
    background: #FF9C7D;
}

.second-block_title {
    font-weight: 600;
    font-size: clamp(32px, 3.4vw, 65px);
    max-width: 65%;
    padding-top: 98px;
    text-align: center;
    margin: 0 auto;
}

.second-block__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 75px 104px 75px;
}

.third-block,
.fifth-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.third-block__left-block,
.fifth-block__left-block{
    max-width: 50%;
    margin-left: 20px;
}

.third-block__left-block__title,
.fourth-block__right-block__title,
.fifth-block__left-block__title,
.sixth-block__right-block__title,
.seventh-block__title,
.eight-block__title {
    font-weight: 600;
    font-size: clamp(32px, 3.4vw, 65px);
}

.third-block__left-block__text,
.fourth-block__right-block__text,
.fifth-block__left-block__text,
.sixth-block__right-block__text,
.eight-block__content__text,
.eight-block__content__learn-more {
    font-weight: 400;
    font-size: clamp(20px, 1.2vw, 45px);

}

.third-block__left-block__text,
.fourth-block__right-block__text,
.fifth-block__left-block__text,
.sixth-block__right-block__text {
    margin-top: 38px;
    margin-bottom: 30px;
}

.third-block__left-block__title {
    max-width: 80%;
}

.third-block__left-block__text {
    max-width: 67%;
}

.third-block__left-block__start-now,
.fourth-block__right-block__start-now,
.fifth-block__left-block__start-now,
.sixth-block__right-block__start-now {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #000000;
}

.third-block__right-block {
    margin-right: 20px;
}

.fourth-block,
.sixth-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 250px;
}

.sixth-block{
    padding-bottom: 153px;
}

.fourth-block__right-block,
.sixth-block__right-block {
    max-width: 50%;
}

.fourth-block__left-block,
.sixth-block__left-block{
    margin-left: 20px;
}

.fourth-block__right-block__text {
    margin-right: 85px;
}

.underline {
    color: #000000;
}

.underline:hover,
.eight-block__content__learn-more:hover {
    color: #004080
}

.fifth-block{
    padding-top: 250px;
}

.sixth-block__right-block__text {
    padding-right: 50px;
}

.seventh-block {
    background: #FFF8E4;
    padding-bottom: 93px;
}

.seventh-block > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.seventh-block > div > div {
    flex: 0 0 calc(33% - -2px);
    margin-bottom: 57px;
    position: relative;
    text-align: center;
}

.seventh-block__title {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 58px;
}

.seventh-block__container-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
}

.seventh-block__container-title {
    margin-top: 26px;
}

.seventh-block__container-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.seventh-block__container-text {
    margin-top: 20px;
}

.eight-block__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 153px;
}

.eight-block__content > div {
    flex: 0 0 calc(33.333% - 8px);
    position: relative;
    text-align: left;
}

.eight-block__content > div:first-child{
    padding-left: 58px;
    margin-right: 58px;
}

.eight-block__content > div:last-child {
    padding-right: 57px;
}

.eight-block__content__developer-section {
    padding-right: 58px;
}

.eight-block__content__img-managers {
    margin-top: 50px;
}

.eight-block__content__img-developer {
    margin-top: 85px;
}

.eight-block__content__img-translators {
    margin-top: 59px;
}

.eight-block__title {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 154px;
}

.eight-block__content__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
}

.eight-block__content__title {
    margin-top: 50px;
}

.eight-block__content__text {
    margin-top: 34px;
    margin-bottom: 25px;
}

.eight-block__content__learn-more {
    color: #000000;
}

.ninth-block {
    background: #C9E8F2;
    display: flex;
    justify-content: space-between;
    padding-bottom: 105px;
}

.ninth-block__info {
    flex: 0 0 calc(67%);
    padding-left: 58px;
    margin-top: 43px;
}

.ninth-block__img {
    padding-right: 20px;
    margin-top: 55px;
}

.ninth-block__info-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}

.ninth-block__info-text {
 margin-top: 20px;
}

.ninth-block__info-sign {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.ninth-block__info-sign{
    margin-top: 23px;
}

.ninth-block__info img {
    margin-top: 7px;
}

.tenth-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #DABC98;
    padding-top: 77px;
    padding-bottom: 77px;
}

.tenth-block__description {
    flex: 0 0 calc(34%);
}

.tenth-block__description-text {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
}

.tenth-block__image-five-star {
    margin-top: 20px;
    margin-bottom: 20px;
}

.eleventh-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 169px;
    padding-bottom: 169px;
}

.eleventh-block h2 {
    font-weight: 600;
    font-size: clamp(32px, 3.4vw, 65px);
    max-width: calc(55%);
}

.eleventh-block p {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    max-width: calc(38%);
    padding-top: 20px;
    padding-bottom: 20px;
}

.eleventh-block img {
    margin-top: 20px;
}

.eleventh-block a {
    display: inline-block;
    margin-top: 20px;
    padding: 0 20px;
    background-color: #FF6336;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
}

.twelfth-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #FF9C7D;
    padding-top: 115px;
    padding-bottom: 160px;
}

.twelfth-block h2 {
    font-weight: 600;
    font-size: clamp(32px, 3.4vw, 65px);
    max-width: calc(65%);
}

.twelfth-block p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
}

.twelfth-block a {
    display: inline-block;
    margin-top: 55px;
    padding: 0 50px;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
}

.thirteenth-block {
    display: flex;
    padding-top: 92px;
    padding-bottom: 95px;
}

.thirteenth-block__info {
    padding-left: 25px;
}

.thirteenth-block__info h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
}

.thirteenth-block__info p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
}

.thirteenth-block__info a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.thirteenth-block ul {
    list-style: none;
}

.thirteenth-block li {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 15px;
}

.thirteenth-block li a {
    text-decoration: none;
    color: #000000;
}

.thirteenth-block__info img {
    display: block;
    margin-bottom: 20px;
    margin-top: 30px;
}

.thirteenth-block__list-legal {
    padding-right: 38px;
}

.thirteenth-block__list h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 21px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.footer__description {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.footer__description img {
    margin-right: 15px;
}

.footer__description p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    max-width: 50%;
}

.footer__reserved p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-right: 75px;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
    }
    .nav__list {
        display: block;
        list-style: none;
        gap: 10px;
    }

    .first-block__button-demo,
    .first-block__button-free {
        padding: 0 10px;
    }

    .second-block__logo {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .first-block {
        display: block;
    }

    .fourth-block__right-block,
    .sixth-block__right-block {
        max-width: 80%;
        padding-left: 39px;
    }

    .third-block,
    .fifth-block,
    .fourth-block,
    .sixth-block{
        flex-direction: column;
    }

    .fourth-block__left-block,
    .sixth-block__left-block{
        order: 2;
    }

    .fifth-block__left-block__text {
        padding-right: 0;
    }

    .seventh-block > div > div {
        padding-left: 0;
        padding-right: 0;
    }

    .seventh-block > div > div {
        flex: 0 0 calc(50% - -2px);
    }

    .eight-block__content {
        display: block;
        justify-content: center;
    }

    .eight-block__content > div {
        text-align: center;
    }

    .ninth-block {
        flex-direction: column;
        align-items: center;
    }

    .ninth-block__info {
        order: 2;
    }

    .tenth-block {
        flex-direction: row;
        gap: 20px;
    }

    .tenth-block {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0;
    }
    .tenth-block__rectangle {
        display: none;
    }

    .thirteenth-block {
        flex-direction: column;
        justify-content: center;
    }

    .thirteenth-block__list {
        padding-top: 20px;
        padding-left: 25px;
    }

    .thirteenth-block__list-legal {
        max-width: 100%;
    }

    .twelfth-block h2 {
        max-width: calc(100%);
    }

    .first-block__description-title {
        line-height: 50px;
    }

    .first-block__button {
        flex-direction: column;
        text-align: center;
    }

    .second-block_title {
        font-size: clamp(32px, 3.4vw, 65px);
        max-width: 100%;
        line-height: 40px;
    }

    .second-block__logo {
        gap: 35px;
    }

    .third-block__left-block,
    .fifth-block__left-block{
        max-width: 100%;
    }

    .fourth-block__right-block__text {
        margin-right: 0;
    }

    .fourth-block__right-block,
    .sixth-block__right-block {
        max-width: 100%;
        padding-left: 0;
    }

    .third-block__left-block,
    .fifth-block__left-block{
        max-width: 100%;
        margin-left: 0;
    }

    .third-block__left-block__text {
        max-width: 100%;
    }

    .sixth-block__right-block__text {
        padding-right: 0;
    }

    .fourth-block__left-block, .sixth-block__left-block {
        margin-left: 0;
    }

    .fourth-block, .sixth-block, .fifth-block {
        padding-top: 100px;
    }

    .sixth-block {
        padding-bottom: 100px;
    }

    .seventh-block > div {
        display: block;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .eight-block__content > div:first-child {
        padding-left: 0;
        margin-right: 0;
    }

    .eight-block__content__developer-section {
        padding-right: 0;
    }

    .eight-block__content > div:last-child {
        padding-right: 0;
    }

    .ninth-block__info {
        padding-left: 0;
    }

    .tenth-block {
        gap: 40px;
    }

    .eleventh-block h2 {
        max-width: calc(100%);
    }

    .eleventh-block {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .eleventh-block p {
        max-width: calc(100%);
    }

    .thirteenth-block__info {
        padding-left: 0;
    }

    .thirteenth-block__list {
        padding-left: 0;
    }

    .footer__description {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer__reserved p,
    .footer__description p {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        margin-right: 0;
    }

    .footer__description p {
        padding-top: 10px;
    }

    .footer p:first-child {
        padding-top: 10px;
    }

    .footer__description img {
        margin-right: 0;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .nav__list {
        display: block;
        list-style: none;
        gap: 10px;
    }

    .first-block__button-demo,
    .first-block__button-free {
        padding: 0 10px;
    }

    .second-block__logo {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .first-block {
        display: block;
    }

    .fourth-block__right-block,
    .sixth-block__right-block {
        max-width: 80%;
        padding-left: 39px;
    }

    .third-block,
    .fifth-block,
    .fourth-block,
    .sixth-block{
        flex-direction: column;
    }

    .fourth-block__left-block,
    .sixth-block__left-block{
        order: 2;
    }

    .fifth-block__left-block__text {
        padding-right: 0;
    }

    .seventh-block > div > div {
        padding-left: 0;
        padding-right: 0;
    }

    .seventh-block > div > div {
        flex: 0 0 calc(50% - -2px);
    }

    .eight-block__content {
        display: block;
        justify-content: center;
    }

    .eight-block__content > div {
        text-align: center;
    }

    .ninth-block {
        flex-direction: column;
        align-items: center;
    }

    .ninth-block__info {
        order: 2;
    }

    .tenth-block {
        flex-direction: row;
        gap: 20px;
    }

    .tenth-block {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0;
    }
    .tenth-block__rectangle {
        display: none;
    }

    .thirteenth-block {
        flex-direction: column;
        justify-content: center;
    }

    .thirteenth-block__list {
        padding-top: 20px;
        padding-left: 25px;
    }

    .thirteenth-block__list-legal {
        max-width: 100%;
    }

    .first-block__description-title {
        line-height: 50px;
    }

    .third-block__left-block,
    .fifth-block__left-block{
        max-width: 100%;
    }

    .fourth-block__right-block__text {
        margin-right: 0;
    }

    .fourth-block__right-block,
    .sixth-block__right-block {
        max-width: 100%;
        padding-left: 0;
    }

    .third-block__left-block,
    .fifth-block__left-block{
        max-width: 100%;
        margin-left: 0;
    }

    .third-block__left-block__text {
        max-width: 100%;
    }

    .sixth-block__right-block__text {
        padding-right: 0;
    }

    .fourth-block__left-block, .sixth-block__left-block {
        margin-left: 0;
    }

    .fourth-block, .sixth-block, .fifth-block {
        padding-top: 100px;
    }

    .sixth-block {
        padding-bottom: 100px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .nav__list {
        display: block;
        list-style: none;
        gap: 10px;
    }

    .fourth-block__right-block,
    .sixth-block__right-block {
        max-width: 50%;
        padding-left: 39px;
    }

    .third-block,
    .fifth-block,
    .fourth-block,
    .sixth-block{
        flex-direction: row;
    }

    .fourth-block__left-block,
    .sixth-block__left-block{
        order: unset;
    }

    .fifth-block__left-block__text {
        padding-right: 90px;
    }

    .seventh-block > div > div {
        padding-left: 71px;
        padding-right: 71px;
    }

    .seventh-block > div > div {
        flex: 0 0 calc(45% - -2px);
    }

    .eight-block__content {
        display: flex;
        justify-content: space-between;
    }

    .eight-block__content > div {
        text-align: left;
    }

    .eight-block__content > div:last-child {
        padding-right: 0;
    }

    .eight-block__content > div:first-child{
        padding-left: 18px;
        margin-right: 28px;
    }

    .thirteenth-block {
        gap: 5px;
    }

    .thirteenth-block__info {
        max-width: max-content;
    }

    .thirteenth-block {
        flex-direction: row;
        justify-content: space-between;
    }

    .thirteenth-block__list-legal {
        max-width: 16%;
    }

    .twelfth-block h2 {
        max-width: calc(75%);
    }

    .third-block__left-block, .fifth-block__left-block {
         max-width: 55%;
    }

    .third-block__left-block__text {
         max-width: 80%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .nav__list {
        display: flex;
        list-style: none;
        gap: 10px;
    }

    .header__box {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .second-block__logo {
        justify-content: space-between;
        flex-direction: row;
    }

    .first-block {
        display: flex;
    }

    .fourth-block__right-block,
    .sixth-block__right-block {
        padding-left: 139px;
    }

    .fifth-block__left-block__text {
        padding-right: 190px;
    }

    .seventh-block > div > div {
        flex: 0 0 calc(33% - -2px);
    }

    .ninth-block {
        flex-direction: row;
        align-items: normal;
    }

    .ninth-block__info {
        order: unset;
    }

    .tenth-block {
        flex-direction: row;
        gap: 0;
    }

    .tenth-block__rectangle {
        display: block;
    }

    .thirteenth-block {
        gap: 0;
    }

    .thirteenth-block__info {
        max-width: 35%;
    }

    .thirteenth-block__list {
        padding-top: 10px;
        padding-left: 15px;
    }

    button.button-menu {
        display: none !important;
    }

    .first-block__description-title {
        line-height: 50px;
    }

    .fourth-block__right-block__text {
        margin-right: 0;
    }

    .third-block__left-block__text {
        max-width: 60%;
    }

}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .nav__list {
        display: flex;
        list-style: none;
        gap: 50px;
    }

    .header__box {
        display: flex;
        align-items: center;
        gap: 45px;
    }

    .first-block__description-title {
        line-height: 70px;
    }
}

button.button-menu {
    display: block;
    background-color: transparent;
    color: black !important;
    border: 0;
}

button.button-menu img {
    width: 40px;
}

.close-menu {
    position: absolute;
    right: 20px;
    top: 20px;
}

.close-menu img {
    filter: invert(100%) sepia(100%) hue-rotate(180deg) saturate(1000%);
}

@media screen and (max-width: 992px) {

    .container {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .mobile-wrapper {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #4c4c4c;
        transition: 0.2s all ease-in-out;
        transform: translateX(-100%);
        display: none;
    }

    .header__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav__list li {
        margin: 20px;
    }

    .nav__list-item {
        font-size: 1.5rem;
        color: #FFFFFF;
    }

    .nav__button {
        flex-direction: column;
        width: 50%;
    }

    .nav__button-login,
    .nav__button-free {
        font-size: 1.2rem;
    }

    .nav__button-login {
        background: #FFFFFF;
    }

    .nav__button {
        padding-top: 40px;
    }

    .first-block__description {
        margin-left: 0;
    }

    .first-block__description-title {
        margin-top: 0;
        line-height: 40px;
    }

    .first-block,
    .fourth-block,
    .fifth-block,
    .sixth-block {
        padding-top: 80px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .second-block_title {
        line-height: 35px;
        font-size: 1.8rem;
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .second-block__logo {
        padding: 0 0 0 0;
    }

    .second-block {
        padding-bottom: 40px;
    }

    .third-block,
    .thirteenth-block {
        align-items: center;
        text-align: center;
        padding-top: 80px;
    }

    .third-block__left-block__title {
        max-width: 100%;
    }

    .third-block__left-block__text,
    .fourth-block__right-block__text,
    .fifth-block__left-block__text,
    .sixth-block__right-block__text {
        margin-top: 40px;
    }

    .third-block__right-block,
    .fourth-block__left-block,
    .fifth-block__right-block,
    .sixth-block__left-block {
        margin-right: 0;
        padding-top: 40px;
    }

    .fourth-block,
    .sixth-block,
    .fifth-block {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .fifth-block,
    .fourth-block {
        padding-bottom: 40px;
    }

    .seventh-block__title {
        padding-top: 40px;
    }

    .seventh-block {
        padding-bottom: 40px
    }

    .eight-block__title {
        padding-top: 40px;
    }

    .eight-block__content {
        padding-bottom: 40px;
    }

    .ninth-block__img {
        padding-right: 0;
        margin-top: 80px;
    }

    .ninth-block {
        align-items: center;
        text-align: center;
        padding-bottom: 40px
    }

    .ninth-block__info-text {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 20px;
    }

    .ninth-block__info {
        display: flex;
        flex-direction: column;
    }

    .ninth-block__info-text {
        order: 2;
    }

    .ninth-block__info {
        margin-top: 20px;
        text-align: center;
        align-items: center;
    }

    .ninth-block__info-text {
        margin-top: 40px;
    }

    .tenth-block__description-text {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
    }

    .tenth-block,
    .eleventh-block,
    .twelfth-block,
    .thirteenth-block {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .thirteenth-block__info img {
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .thirteenth-block__info{
        padding-bottom: 40px;
    }

    .thirteenth-block__list-legal {
        padding-right: 0;
    }

    .thirteenth-block li {
        margin-bottom: 10px;
    }

    .footer__description p {
        max-width: 100%;
    }

    .footer__description p {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.show-menu .mobile-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
}

.show-menu.slide-menu .mobile-wrapper {
    transform: translateX(0);
}

@media screen and (min-width: 993px) {
    .nav__list {
        display: flex;
    }
}

@media screen and (min-width: 993px) {
    .right-side {
        display: flex;
    }
}

button {
    display: inline-block;
    border: none;
    outline: none;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

